.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}

.swiper-pagination-bullet {
    background-color: white;
}

h1 {
    margin: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    color: darkred;

}

h2 {
    font-size: 30px;
    transform: skew(30deg);
    text-align: center;
    padding-top: 30px;
}

.discription {
    max-width: 75%;
    margin:auto ;

}

.main__inner {
    display: flex;
    margin: 20px;

}

.background__block {
    width: 200%;
    height: 100%;
    transform: skew(-30deg);
    background: #D4D5DA;

}

.main__inner__block {
    flex-direction: column;
    z-index: 1;
    
}

.discrp__pic{
    margin-left: 12%;
}

.main__inner__text {
    padding: 80px 80px 80px 120px;
    display: flex;
    align-items: center;
    font-size: 26px;
    transform: skew(30deg);
}

.inner__text{
    display: flex;
    align-items: center;
    font-size: 26px;
}

h3{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}