.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}

.swiper-pagination-bullet {
    background-color: white;
}

h1 {
    margin: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    color: darkred;

}

h2 {
    font-size: 30px;
    transform: skew(30deg);
    text-align: center;
    padding-top: 30px;
}

.discription {
    max-width: 80%;
    margin: auto;
    align-items: center;

}

.main__inner {
    display: flex;
    margin: 20px;

}

.background__block {
    width: 200%;
    height: 100%;
    transform: skew(-30deg);
    background: #D4D5DA;
    max-width: 1600px;

}

.main__inner__block {
    flex-direction: column;
    z-index: 1;

}

.main__inner__text {
    padding: 100px 80px 80px 120px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 26px;
    transform: skew(30deg);
}

.inner__text {
    display: flex;
    align-items: center;
    font-size: 26px;
}

.background1{
    margin-top: 1%;
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/disription//bg/bg1.jpg);
}

.background2{
    margin: 0;
    width: 100%;
    height: 1000px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/disription//bg/bg2.jpg);
}

.discrp__pic {
    margin-left: 12%;
}


.fields{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.harvesting{
    width: 996px;
    height: 560px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}

.plans {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
}

.discription__plans {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    width: 30%;
    margin: 10px;
    margin-bottom: 40px;
    
}
.discription__plans:nth-child(2){
    animation-delay: 0.1s;
}
.discription__plans:nth-child(3){
    animation-delay: 0.2s;
}
.discription__plans:nth-child(4){
    animation-delay: 0.3s;
}

.background3{
    margin: 0;
    width: 100%;
    height: 1000px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/disription//bg/bg3.jpg);
}

.history__pic{
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
}

.history__pic img{
    width: 32%;
    margin: 10px;
    align-items: center;
}

.history__pic img:nth-child(2){
    animation-delay: 0.1s;
}
.history__pic img:nth-child(3){
    animation-delay: 0.2s;
}
.history__pic img:nth-child(4){
    animation-delay: 0.3s;
}