.main {
    display: flex;
    flex-direction: row;

}

h1 {
    margin-top: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    color: darkred;

}

.vacancy {
    margin-top: 0px;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
    padding-left: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.vacancy__card {
    height: 100vh;
    max-width: 31%;
    margin: 10px;
    box-shadow: 0px 8px 14px 4px rgba(101, 101, 101, 0.16);

}

.vacancy__card__img {
    width: 100%;

}

.vacancy__card h2 {
    text-align: center;
    color: darkred;

}

.vacancy__card__text {
    margin: 25px;
    word-break: normal;
    font-size: 1.7em;
}


.vacancy__card:nth-child(3n+1) {
    animation-delay: 0.1s;
}

.vacancy__card:nth-child(3n+2) {
    animation-delay: 0.2s;
}

.vacancy__card:nth-child(3n+3) {
    animation-delay: 0.3s;
}


.vacancy__card:hover {
    transition-duration: .2s;
    box-shadow: 0px 8px 14px 4px rgba(83, 0, 0, 0.7);
}

.respond__button {
    color: white;
    background-color: rgb(230, 0, 0);
    display: inline-block;
    padding: 18px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 3px;
    font-size: 2em;
    cursor: pointer;

}

.respond__button:hover {
    transition-duration: .2s;
    background-color: rgb(211, 0, 0);
    box-shadow: 0px 8px 14px 4px darkred;
}

h4 {
    margin: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    color: darkred;
}

h5 {
    margin-top: -20px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

.Order {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container1 {
    margin-top: 40px;
}

.form {
    width: 100%;
}

input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    width: 1000px;
    height: 100%;
    min-height: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;

}

.input_block span {
    font-size: 1.7em;
    font-weight: 800;
}



input[type="file"] {
    margin: 0 0 10px 0;
    width: 1000px;
    border: 0;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #666666;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

label {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6em;
    margin-bottom: 10px;
    margin-top: 20px;
}


.button {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(211, 0, 0);
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5;
    animation: bttn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.button:hover {
    background-color: rgb(240, 147, 25);
    box-shadow: 5px 5px 5px grey;
}

@keyframes bttn {
    0% {
        background-color: rgb(211, 0, 0);
    }

    25% {
        background-color: rgb(235, 61, 31);
    }

    50% {
        background-color: rgb(245, 116, 11);
    }

    75% {
        background-color: rgb(235, 61, 31);
    }

    100% {
        background-color: rgb(211, 0, 0);
    }
}

#hidden {
    display: none;
}

.order-summary {
    font-size: 25px;
    width: 600px;
    height: 450px;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.form:hover {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1920px) {

    .vacancy {
        padding-left: 6%;
    }

    .vacancy__card {
        height: 110vh;
        max-width: 44%;
        margin: 0px 20px 20px;
    }

    .vacancy__card__text {
        margin: 10px;
        font-size: 1.3em;
    }

    .respond__button {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1.5em;

    }

    .vacancy__card:nth-child(2n+1) {
        animation-delay: 0.1s;
    }

    .vacancy__card:nth-child(2n+2) {
        animation-delay: 0.2s;
    }

    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2em;
    }


    input {
        font-size: 1.5em;
    }

    .input_block span, label,.button {
        font-size: 1.3em;
    }
 

}